name: Code Scanning
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - develop
      - release/*

jobs:
  qodana:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Qodana Scan'
        uses: JetBrains/qodana-action@v4.1.0
        with:
          linter: jetbrains/qodana-python
